# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

config SDP
	bool "Linaro secure data pipeline for Zephyr"
	help
	  This option enables the Linaro secure data pipeline library.

if SDP

config SDP_SHELL
	bool "Enable the 'sdp' shell command"
	depends on SHELL
	help
	  Enabling this option will make the 'sdp' shell command available.

config SDP_SAMPLE_POOL_SIZE
	int "Sample pool heap size (in bytes)"
	default 2048
	help
	  Determines the heap size for the sample pool (in bytes).

endif
