# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

config SDP
	bool "Linaro secure data pipeline for Zephyr"
	help
	  This option enables the Linaro secure data pipeline library.

if SDP

config SDP_SHELL
	bool "Enable the 'sdp' shell command"
	depends on SHELL
	help
	  Enabling this option will make the 'sdp' shell command available.

config SDP_SAMPLE_POOL_SIZE
	int "Sample pool heap size (in bytes)"
	default 2048
	help
	  Determines the heap size for the sample pool (in bytes).

config SDP_FILTER_CACHE
        bool "Enable filter evaluation caching"
        default y
        help
          Enables caching of filter evaluation results when determining if a
          processor or sink node should be assigned an incoming datasample.

config SDP_FILTER_CACHE_DEPTH
        int "Records to store in the filter evaluation cache FIFO."
        default 20
        help
          Indicates the number of filter evaluations to maintain in the cache
		  FIFO. If previously uncached values are generated, and the cache is
		  full, the oldest value will be removed from the cache. Each cache
		  entry requires 6 bytes of memory (filter value = 4, node id = 1,
		  result = 1).

config SDP_PROC_NODE_LIMIT
	int "Maximum number of processor nodes that can be registered."
	default 32
	range 1 255
	help
	  Determines the maximum number of processor nodes than can be registered
	  in the processor manager. Requires SDP_PROC_NODE_LIMIT * 12 bytes memory.

config SDP_PROC_MGR_POLL_RATE
	int "Rate in Hz to poll the measurement pool."
	default 10
	range 0 100
	help
	  Determines the rate, in Hz, that the processor node manager should poll
	  the measurement sample pool for new, unprocessed messages. Setting this
	  to 0 will disable automatic polling, requiring measurements to be
	  manually removed from the pool and sent to the sdp_pm_process function.

endif
